$first-background-color: linear-gradient(45deg, #2980b9, #1887aa);
$second-background-color: #fefefe;
$third-background-color: #d9d9d9;
$fourth-background-color: #444444;
$fifth-background-color: #555;
$text-color: rgba(255, 255, 255, 0.7);
$hover-text-color: #fff;
$check-color: green;
$btn-download-color: red;
