.btn-download {
  position: absolute;
  bottom: 10px;
  right: 30px;
  width: 140px;
  height: 45px;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  font-weight: 700;
  color: $text-color;
  background: $btn-download-color;
  transition: 0.3s all;
  cursor: pointer;
}
.btn-download:active {
  transform: scale(0.9);
}
.btn-download:hover {
  color: $hover-text-color;
}
