.pixels {
  position: relative;
  width: 360px;
  height: 360px;
  transform: translate(20px, 20px);
  cursor: crosshair;
  span {
    float: left;
    display: block;
    width: 20px;
    aspect-ratio: 1/1;
    border: 1px dashed #333;
    background: $third-background-color;
  }
}
