* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import "colors";
@import "content-box";
@import "pixels";
@import "tools";
@import "palet-color";
@import "download";
body {
  width: 1rem;
  height: 1rem;
  background: $first-background-color;
}
section {
  float: left;
}
.logo {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 50px;
}
